* {
  font-family: "arial", sans-serif;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.navmenu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
}

.navitems {
  margin-left: 5px;
}

.header_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 290px;
  height: calc(100% - 560px);
  position: relative;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 272px;
  margin-top: auto;
}

.header_backgroundImage {
  max-height: 92px;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  padding-top: 11px;
}

.form_input {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 584px;
}

.form_submit {
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px;
  height: 44px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.header_advanced {
  display: block;
  height: 60px;
  padding: 12px;
}

.advanced_backgroundImage {
  height: 24px;
  width: 74px;
  display: inline-block;
  vertical-align: middle;
}

.advanced_info {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

.delimiter {
  border-bottom: 1px solid #ebebeb;
}

.advanced_container {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.advanced_search_form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.advanced_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.title_condition {
  flex: 16 1 100px;
  display: inline-block;
  height: 30px;
  font-size: 100%;
  font-weight: inherit;
  color: #333;
}

.title_space {
  flex: 50 1 100px;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
}

.title_description {
  flex: 32 1 100px;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  color: #777;
  padding-left: 5px;
  vertical-align: middle;
}

.condition {
  flex: 16 1 100px;
  font-size: 100%;
  font-weight: inherit;
  line-height: 16px;
  color: #222;
}

.advanced_input {
  flex: 50 1 100px;
  display: inline-block;
  vertical-align: middle;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
.description {
  flex: 32 1 100px;
  margin: 0 0 8px 1%;
  font-style: inherit;
  font-size: 13px;
  color: #555;
}

.description span {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.condition_button {
  flex: 58 1;
}

.advanced_input_button {
  flex: 8 1;
}

.description_button {
  flex: 32 1;
}

.jfk-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  cursor: pointer;
}

.jfk-button-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}
.dUBGpe {
  padding: 0 12px;
}

.T8VaVe {
  align-self: flex-end;
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: absolute;
  left: 215px;
  bottom: 0;
  white-space: nowrap;
}
